h2, h3, a, p {
  font-family: 'Playfair Display', serif;
}
.bg-pastel-crema {
  background-color: #faeac9;
}
.card-img-top {
  height: 200px; 
  object-fit: cover; 
}
.custom-card {
  width: 300px; 
  height: 500px; 
}
.custom-card-image-1 {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  object-position: 30% 10%; 
}
.custom-card-image-2 {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  object-position: 50% 10%; 
}
.custom-card-image-3 {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  object-position: 70% 10%;
}
.bg-crema {
  background-color: #FFC0CB; 
}
.contact-image {
  display: block;
  margin: 30px auto;
  max-width: 80%; 
  height: auto;
  opacity: 1;
  transition: opacity 0.3s; 
}
.contact-image:hover {
  opacity: 0.8; 
}
#carritoLista {
  max-height: 300px; 
  overflow-y: auto;
}
.carrito-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc; 
}
.carrito-imagen {
  max-width: 30px; 
  margin-right: 10px;
}
.carrito-contenido {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


