h2, h3, a, p {
  font-family: 'Playfair Display', serif;
}

.bg-pastel-crema {
  background-color: #faeac9;
}

.card-img-top {
  height: 200px; 
  object-fit: cover; 
}

.contact-image {
  display: block;
  margin: 30px auto;
  max-width: 80%; 
  height: auto;
  opacity: 1;
  transition: opacity 0.3s; 
}

.contact-image:hover {
  opacity: 0.8; 
}